/legacy
/tools
.DS_Store
.venv
.vscode
__pycache__
/images/.DS_Store
/icons/.DS_Store
/data/.DS_Store
data/**/*.bak
/remotedata
.github
dist/
node_modules/
.npm-cache/
/www/
/android/app/src/main/assets/public/
